---
import { App } from '../components/App'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import { Products } from '../components/Products'
---

<Layout
  title='Bienvenido a tsuki.'
  description='Descubre ropa urbana única y moderna inspirada en tu anime favorito. En tsuki encontrarás camisetas, sudaderas, gorras y más, con diseños originales y de alta calidad. ¡Envío gratuito a todo el mundo!'>
  <main> </main>

  <Footer />
</Layout>

<style>
  main {
    overflow: hidden;
  }
</style>
