---
import Layout from '../layouts/Layout.astro'
import Products from '../components/Products.astro'
import Bento from '../components/Bento.astro'
import Footer from '../components/Footer.astro'
---

<Layout
  title='Bienvenido a tsuki.'
  description='Descubre ropa urbana única y moderna inspirada en tu anime favorito. En tsuki encontrarás camisetas, sudaderas, gorras y más, con diseños originales y de alta calidad. ¡Envío gratuito a todo el mundo!'
>
  <main>
    <Bento />
    <Products />
  </main>

  <Footer />
</Layout>

<style></style>
