---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
import { Products } from '@/components/Products'
import { ModeToggle } from '@/components/ui/ModeToggle'
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class']
    })
  }
</script>

<Layout
  title='Bienvenido a tsuki.'
  description='Descubre ropa urbana única y moderna inspirada en tu anime favorito. En tsuki encontrarás camisetas, sudaderas, gorras y más, con diseños originales y de alta calidad. ¡Envío gratuito a todo el mundo!'>
  <main>
    <Products client:load />
  </main>
</Layout>

<style is:global>
  main {
    overflow: hidden;
  }

  html {
    font-family: 'Visuelt Pro', system-ui;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-style: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
</style>
