---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
---

<Layout
  title='Política de Privacidad - Tsuki'
  description='Conoce cómo recopilamos, usamos y protegemos tu información personal en Tsuki, nuestro e-commerce de ropa urbana.'>
  <section class='p-6 md:p-10 max-w-3xl mx-auto'>
    <h1 class='text-3xl font-bold mb-6'>Política de Privacidad</h1>
    <article class='text-gray-700 dark:text-gray-300'>
      <p>
        <strong>Bienvenido a Tsuki.</strong> En esta política de privacidad, te explicamos
        cómo recopilamos, usamos y protegemos tu información personal cuando usas
        nuestro sitio web.
      </p>

      <h2 class='text-2xl font-semibold mt-6 mb-4'
        >1. Información que Recopilamos</h2
      >
      <p>
        Recopilamos información personal cuando realizas una compra, te
        registras en nuestro sitio o te comunicas con nosotros. Esto puede
        incluir tu nombre, dirección, correo electrónico y detalles de pago.
      </p>

      <h2 class='text-2xl font-semibold mt-6 mb-4'>2. Uso de la Información</h2>
      <p>
        Utilizamos la información recopilada para procesar tus pedidos, mejorar
        nuestros servicios y comunicarte sobre actualizaciones y promociones
        relacionadas con Tsuki.
      </p>

      <h2 class='text-2xl font-semibold mt-6 mb-4'
        >3. Protección de la Información</h2
      >
      <p>
        Implementamos medidas de seguridad para proteger tu información personal
        contra el acceso no autorizado, la divulgación o el uso indebido.
      </p>

      <h2 class='text-2xl font-semibold mt-6 mb-4'>4. Cookies</h2>
      <p>
        Utilizamos cookies para mejorar tu experiencia en nuestro sitio web.
        Puedes optar por no aceptar cookies, pero esto podría afectar la
        funcionalidad del sitio.
      </p>

      <h2 class='text-2xl font-semibold mt-6 mb-4'>5. Enlaces a Otros Sitios</h2
      >
      <p>
        Nuestro sitio puede contener enlaces a otros sitios web que no están
        bajo nuestro control. No somos responsables de las prácticas de
        privacidad de estos sitios.
      </p>

      <h2 class='text-2xl font-semibold mt-6 mb-4'
        >6. Cambios a esta Política</h2
      >
      <p>
        Podemos actualizar esta política de privacidad de vez en cuando. Te
        notificaremos sobre cualquier cambio significativo mediante un aviso en
        nuestro sitio web.
      </p>

      <p class='mt-6'>
        Si tienes alguna pregunta sobre nuestra política de privacidad, por
        favor contáctanos en <strong>tsuki.store26@gmail.com</strong>.
      </p>
    </article>
  </section>
</Layout>

<style is:global>
  main {
    overflow: hidden;
  }

  html {
    font-family: 'Visuelt Pro', system-ui;
  }

  .dark {
    color: #e5e7eb; /* Un color claro para el texto en modo oscuro */
    background-color: #1a202c; /* Un color de fondo oscuro */
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-style: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Visuelt Pro';
    src: url('/public/fonts/VisueltPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
</style>
