---
import Cart from '@/components/cart/Cart'
---

<nav class='flex h-16 justify-center items-center font-semibold'>
  <div class='flex gap-12'>
    <a href='#news'>News</a>
    <a href='#discounts'>Discounts</a>
    <a href='#top-sells'>Top Sells</a>
  </div>

  <div>
    <Cart client:load />
  </div>
</nav>
