---
import LabelFilter from '@/components/header/LabelFilter'
import { ModeToggle } from '../ui/ModeToggle'
---

<nav class='flex items-center h-12 md:px-4 lg:px-8 border-b-2 justify-between'>
  <div>
    <ModeToggle client:load />
  </div>

  <LabelFilter client:load />

  <div>
    <button class='snipcart-checkout'>Cart</button>
  </div>
</nav>
