---
import ImageAnime from '@/components/header/ImageAnime.astro'
import Home from '@/components/header/Home'
---

<div
  class='flex relative justify-center items-center w-full lg:h-72 overflow-hidden gap-3 rounded-xl h-48'>
  <ImageAnime />
  <div class='absolute'>
    <Home client:load />
  </div>
  <h5 class='text-lg text-white opacity-70 absolute mt-20'
    >Let's go to the next level</h5
  >
</div>
