---
import IconCart from './icons/IconCart.astro'
import IconCartRemove from './icons/IconCartRemove.astro'
---

<div>
  <label
    class='cart-button
  items-center flex justify-center p-1 absolute right-16 top-5 z-20 cursor-pointer hover:scale-150'
    for='cart-button'>
    <IconCart />
  </label>
  <input
    id='cart-button'
    type='checkbox'
    hidden
  />

  <aside
    class='cart
   bg-white/90 fixed right-0 top-0 w-1/5 p-8 pt-20 z-10 flex flex-col items-center'>
    <ul>
      <li class='flex flex-col gap-2
            rounded border p-2'>
        <img
          src='https://i.imgur.com/vzrTgUR.jpeg'
          alt='Jogger'
          class='w-full rounded block object-cover'
        />
        <div class='flex justify-center text-sm'>
          <strong class='text-sm font-semibold'>Jogger</strong> -$24
        </div>

        <footer class='flex justify-center items-center gap-2'>
          <small> Qty: 1 </small>
          <button class='p-2 hover:scale-110'>+</button>
        </footer>
      </li>
    </ul>

    <button class='hover:scale-110 border rounded-sm p-1 mt-2'>
      <IconCartRemove />
    </button>
  </aside>
</div>

<style>
  .cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
  }
</style>
