<form class='flex justify-center' action=''>
  <input
    type='text'
    class='rounded-lg border border-zinc-300 w-96'
    placeholder=' Dragon Ball, Naruto, One Piece...'
  />
  <input type='text' />
</form>
