---
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import Footer from '@/components/Footer.astro'
import { Toaster } from '@/components/ui/toaster'
import { PaginationProducts } from '@/components/Pagination'
import { SnipcartSetup } from '@lloydjatkinson/astro-snipcart/astro'
import { CartCheckout } from '@lloydjatkinson/astro-snipcart/astro'
import { Product } from '@lloydjatkinson/astro-snipcart/astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <title>{title}</title>
    <SnipcartSetup />

    <ViewTransitions />
  </head>

  <body>
    <CartCheckout>
      <button> Open basket </button>
    </CartCheckout>

    <Product
      as='span'
      id='SKU-0001'
      name='Standard T-Shirt'
      url='/product/standard-t-shirt'
      price={12.99}
      description='Every day basic t-shirt'
      image='/blue-t-shirt.jpg'>
      <button> Add </button>
    </Product>

    <div class='px-4 md:px-16 lg:px-36 flex flex-col gap-12'>
      <Header />
      <slot />
      <PaginationProducts />
      <Footer />
    </div>

    <Toaster client:load />

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body></html
>
